$color-primary: #F8D24E;

$bg-color-main: #84A178;
$bg-color-disabled-pagination: #D9D9D9;
$bg-color-light: #FFFFFF;
$bg-color-ice-cream-product: #AEC6A5;
$bg-color-ice-coffee-product: #EFD478;
$bg-color-milkshake-product: #D6936D;

$text-color-light: #FCFCFC;
$text-color-dark: #131313;
$text-color-dark-light: #ABABAB;
$text-color-link: #D6936D;

$desktop-width: 1168px;
$tablet-width: 704px;
$mobile-width: 280px;