@mixin font($style: normal, $size, $weight, $height) {
    font-style: $style;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin column {
    display: flex;
    align-items: center;
}

@mixin media-tablet {
    @media (max-width: 1013px) {@content;}
}

@mixin media-mobile {
    @media (max-width: 704px) {@content;}
}