%font-prim {
    font-family: 'Montserrat', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

%font-add {
    font-family: 'Seymour One', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

%transition {
    transition: all 0.2s ease;
}