@import "base/normilize";

//abstracts
@import "abstracts/constans";
@import "abstracts/mixins";
@import "abstracts/placeholders";

//base
@import "base/base";
@import "base/icons";
@import "base/buttons";

//components
@import "components/navigation";
@import "components/welcome";
@import "components/products";
@import "components/production";
@import "components/testimonials";

//layout
@import "layout/wrapper";
@import "layout/header";
@import "layout/columns";
