.layout-2-column {
    @include column;
    &_welcome {
        gap: 24px;
        @include media-tablet {
            gap: 33px;
            >* {
                flex-basis: 152px;
            }
        }
    }
    &_production {
        align-items: flex-start;
        gap: 100px;
        padding-bottom: 89px;
        > .production__img {
            flex-basis: 500px;
        }
        > .production__content {
            flex-basis: 532px;
        }
    }
    &_footer {
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 0 60px
    }
}

.layout-3-column {
    @include column;
    &_products {
        justify-content: space-between;
        align-items: flex-start;
        >* {
            flex-basis: 370px;
        }
    }
    &_resource {
        justify-content: space-between;
        >* {
            flex-basis: 368px;
        }
    }
    &_testimonials {
        align-items: flex-start;
        gap: 80px;
        padding: 30px 0 0;
    }
    &_address {
        position: relative;
        top: -96px;
        gap: 32px;
        >* {
            flex-basis: 368px;
        }
    }
}