.layout-2-column {
    @include column;
    &_welcome {
        gap: 24px;
        @include media-tablet {
            gap: 33px;
            >* {
                flex-basis: 152px;
            }
        }
        @include media-mobile {
            display: none;
        }
    }
    &_production {
        align-items: flex-start;
        gap: 100px;
        padding-bottom: 89px;
        > .production__img {
            flex-basis: 500px;
        }
        > .production__content {
            flex-basis: 532px;
        }
        @include media-tablet {
            gap: 32px;
            padding-bottom: 48.12px;
            > .production__img {
                flex-basis: 336px;
            }
            > .production__content {
                flex-basis: 336px;
            }
        }
        @include media-mobile {
            flex-direction: column;
            gap: 61.83px;
            padding-bottom: 42.23px;
            > .production__img {
                flex-basis: 278.19px;
            }
            > .production__content {
                flex-basis: 220px;
            }
        }
    }
    &_footer {
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 0 60px
    }
}

.layout-3-column {
    @include column;
    &_products {
        justify-content: space-between;
        align-items: flex-start;
        @include media-mobile {
            flex-direction: column;
        }
        >* {
            flex-basis: 370px;
            @include media-tablet {
                flex-basis: 224px;
            }
            @include media-mobile {
                flex-basis: 100%;
            }
        }
    }
    &_resource {
        justify-content: space-between;
        >* {
            flex-basis: 368px;
        }
        @include media-tablet {
            >* {
                flex-basis: 152px;
            }
        }
        @include media-mobile {
            flex-direction: column;
            gap: 28px;
        }
    }
    &_testimonials {
        align-items: flex-start;
        gap: 80px;
        padding: 30px 0 0;
        @include media-tablet {
            padding: 0%;
        }
    }
    &_address {
        position: relative;
        top: -96px;
        gap: 32px;
        >* {
            flex-basis: 368px;
        }
        @include media-tablet {
            position: absolute;
            top: -304px;
            gap: 16px;
           >* {
            flex-basis: 224px;
           }
        }
    }
}