.layout-2-column {
    @include column;
    &_welcome {
        gap: 24px;
    }
    &_production {
        align-items: flex-start;
        gap: 100px;
        padding-bottom: 89px;
        > .production__img {
            flex-basis: 500px;
        }
        > .production__content {
            flex-basis: 532px;
        }
    }
}

.layout-3-column {
    @include column;
    &_products {
        justify-content: space-between;
        align-items: flex-start;
        >* {
            flex-basis: 370px;
        }
    }
    &_product-circle {
        position: relative;
        top: 123px;

        justify-content: space-around;
        gap: 30px;
    }
    &_resource {
        justify-content: space-between;
        >* {
            flex-basis: 368px;
        }
    }
    &_testimonials {
        align-items: flex-start;
        gap: 170px;
    }
}