.footer {
    padding: 0 0 12px;
    background: $bg-color-main;
    @include media-tablet {
        padding: 0 0 13px;
    }
}

.footer__title {
    margin: 0%;
    color: $text-color-light;
    @include media-tablet {
        flex-basis: 352px;
       text-align: left;
    }
}

.footer__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    padding: 12px 0 0;
    @include media-tablet {
        padding: 54px 0 0;
        gap: 25px;
    }
}

.footer__contacts {
    @include font($size: 1.6rem, $weight: 700, $height: 3rem);
    margin: 0%;
    letter-spacing: 0.02em;
    color: $text-color-dark;
    >* {
        color: $text-color-light;
    }
    @include media-tablet {
        @include font($size: 1.4rem, $weight: 700, $height: 2.6rem);
    }
}

.footer__line {
    width: 100%;
    height: 1px;
    background: #E1E1E1;
}

.footer__copyrights {
    @include font($size: 1.2rem, $weight: 700, $height: 2.2rem);
    margin: 12px 0 0;
    text-align: center;
    letter-spacing: 0.02em;
    color: #7A7A7A;
    @include media-tablet {
        @include font($size: 1.4rem, $weight: 700, $height: 2.6rem);
        margin: 14px 0 0;
    }
}