.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include media-tablet {
        padding: 17px 0 6px;
    }
    @include media-mobile {
        padding: 12px 0 0;
    }
}