.header-navigation {
    @include media-tablet {
        display: none;
    }
}

.navigation {
    display: flex;
    gap: 27px;
    margin: 0%;
}

.navigation__item {
    @include font($size:1.6rem, $weight: 700, $height: 2rem);
    text-decoration: none;
    color: $text-color-light;
    @extend %transition;
    &:hover{
        color: $color-primary;
    }
}

.tablet-navigation {
    display: flex;
    align-items: center;
    gap: 32px;
}