.production {
    padding: 60px 0 180px;
    background: $bg-color-main;
    @include media-tablet {
        padding: 60px 0 204px;
    }
    @include media-mobile {
        padding: 60px 0 60px;
    }
}

.production__title {
    margin: 0 0 82px;
    color: $text-color-light;
    @include media-tablet {
        margin: 0 0 72px;
    }
    @include media-mobile {
        margin: 0 0 32px;
        >* {
            display: inline-block;
            width: 200px;
        }
    }
}

.production__img {
    position: relative;
    width: 490px;
    height: 490px;
    border-radius: 250px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    >* {
        position: absolute;
        top: 39px;
        left: 3px;
        @include media-tablet {
            width: 334.65px;
            height: 330px;
        }
        @include media-mobile {
            top: 21.82px;
            left: 1.12px;
            width: 278.19px;
            height: 278.25px;
        }
    }
    @include media-tablet {
        width: 334.65px;
        height: 330px;
    }
    @include media-mobile {
        width: 278.19px;
        height: 278.25px;
    }
}

.production__content {
    padding: 90px 0 0;
    @include media-tablet {
        padding: 7px 0 0;
    }
    @include media-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }
}

.production__text {
    @include font($size: 1.6rem, $weight: 400, $height: 2.8rem);
    margin: 0%;
    letter-spacing: 0.04em;
    color: $text-color-light;
    &_bottom {
        margin-bottom: 48px;
        @include media-mobile {
            margin-bottom: 20px;
        }
    }
    @include media-tablet {
        @include font($size: 1.2rem, $weight: 400, $height: 2.3rem);
    }
    @include media-mobile {
        @include font($size: 1.2rem, $weight: 400, $height: 2.1rem);
        text-align: center;
    }
}

.resource {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resource__amount {
    @include font($size: 5.8rem, $weight: 700, $height: 7.1rem);
    margin: 40px 0 16px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-color-light;
    @include media-tablet {
        @include font($size: 4.8rem, $weight: 700, $height: 5.9rem);
        margin: 32px 0 16px;
    }
    @include media-mobile {
        @include font($size: 3.6rem, $weight: 700, $height: 4.2rem);
        margin: 16px 0 18px;
    }
}

.resource__description {
    @include font($size: 1.6rem, $weight: 400, $height: 2.8rem);
    margin: 0%;
    text-align: center;
    letter-spacing: 0.02em;
    color: $text-color-light;
    @include media-tablet {
        @include font($size: 1.4rem, $weight: 400, $height: 2.4rem);
    }
    @include media-mobile {
        @include font($size: 1.2rem, $weight: 700, $height: 2rem);
    }
}