.testimonials {
    padding: 0 0 207px;
    background-repeat: no-repeat;
    background-image: url(../Assets/img/backgrounds/testimonials-bg/Мороженое\ фон.svg);
    @include media-tablet {
        padding: 0 0 384px;
    }
}

.testimonial-img {
    position: relative;
    top: -98px;
    @include media-tablet {
        width: 100%;
        height: 327px;
        top: -164px;
    }
}

.testimonials__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.testimonial__icon {
    width: 85px;
    height: 85px;
    border-radius: 44px;
}

.testimonial__bg {
    width: 968px;
    padding: 39px 73px;
    border-radius: 24px;
    background: $bg-color-main;
    @include media-tablet {
        width: 704px;
        height: 138px;
        padding: 29px 80px;
    }
}

.testimonial__text {
    @include font($size: 1.6rem, $weight: 500, $height: 3rem);
    margin: 0%;
    text-align: center;
    letter-spacing: 0.04em;
    color: $text-color-light;
    @include media-tablet {
        @include font($size: 1.4rem, $weight: 500, $height: 2.6rem);
    }
}

.testimonial__location {
    @include font($size: 1.6rem, $weight: 500, $height: 3rem);
    margin: 0%;
    text-align: center;
    color: $text-color-dark;
}

.slider-pagination {
    display: flex;
    justify-content: center;
    gap: 18px;
    padding: 32px 0 0;
    >* {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #D9D9D9;
    }
    > .dot_colored {
        background: $bg-color-main;
    }
}

.slider-limiter {
    width: 968px;
    overflow: hidden;
    @include media-tablet {
        width: 704px;
    }
}