.testimonials__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials {
    padding: 452px 0 207px;
    background-repeat: no-repeat;
    background-image: url(/Assets/img/backgrounds/testimonials-bg/Мороженое\ фон.svg);
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.testimonial__icon {
    width: 85px;
    height: 85px;
    border-radius: 44px;
}

.testimonial__bg {
    width: 968px;
    padding: 39px 73px;
    border-radius: 24px;
    background: $bg-color-main;
}

.testimonial__text {
    @include font($size: 1.6rem, $weight: 500, $height: 3rem);
    margin: 0%;
    text-align: center;
    letter-spacing: 0.04em;
    color: $text-color-light;
}

.testimonial__location {
    @include font($size: 1.6rem, $weight: 500, $height: 3rem);
    margin: 0%;
    text-align: center;
    color: $text-color-dark;
}

.slider-pagination {
    display: flex;
    justify-content: center;
    gap: 18px;
    padding: 32px 0 0;
    >* {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #D9D9D9;
    }
    > .dot_colored {
        background: $bg-color-main;
    }
}

.slider-limiter {
    width: 968px;
    overflow: hidden;
}