.welcome {
    padding: 48px 0 65px;
    @include media-tablet {
        padding: 28px 0 13px;
    }
}

.header-welcome-bg {
    background-color: $bg-color-main;
    background-image: url(../Assets/img/backgrounds/welcome-bg/ice-cream-welcom-bg.png), url(../Assets/img/backgrounds/welcome-bg/doats-welcome-bg.png);
    background-repeat: no-repeat;
    background-position: right 15px, right bottom;
    @include media-tablet {
        background-image: url(/Assets/img/backgrounds/welcome-bg/ice-cream-welcome-bg-tablet.png), url(/Assets/img/backgrounds/welcome-bg/doats-welcome-bg-tablet.png);
        background-position: right 30px, right bottom;
    }
}

.welcome__wrapper {
    display: flex;
    justify-content: space-between;
}

.welcome__title {
    margin: 0 0 28px;
    color: $text-color-light;
    @include media-tablet {
        @include font($size: 1.8rem, $weight: 400, $height: 2.3rem);
        margin: 10px 0 20px;
        text-transform: uppercase;
        color: $text-color-light;
        >* {
            @include font ($size: 2.4rem, $weight: 400, $height: 2.3rem);
        }
    }
}

.welcome__buttons {
    display: flex;
    align-items: center;
    gap: 34px;
    padding-bottom: 42px;
    @include media-tablet {
        gap: 20px;
        padding-bottom: 28px;
    }
}

.welcome__more {
    flex-basis: 200px;
}

.more-img {
    @include media-tablet {
        width: 152px;
        height: 152px;
    }
}

.more-text {
    @include font($size: 1.4rem, $weight: 400, $height: 2rem);
    margin: 32px 0 32px;
    color: $text-color-light;
    @include media-tablet {
        @include font($size: 1.2rem, $weight: 400, $height: 1.7rem);
        margin: 20px 0 20px;
    }
}

.amount__point {
    @include font($size: 4.6rem, $weight: 900, $height: 5.6rem);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: $text-color-dark;
    &_cafes {
        margin: 8px 0 4px;
        @include media-tablet {
            margin: 0 0 4px;
        }
    }
    &_truck {
        margin: 16px 0 4px;
        @include media-tablet {
            margin: 20px 0 4px;
        }
    }
    @include media-tablet {
        @include font($size: 2.8rem, $weight: 900, $height: 3.4rem);
    }
}

.name__point {
    @include font($size: 1.4rem, $weight: 400, $height: 1.7rem);
    color: $text-color-light;
    margin: 0%;
    text-align: right;
    @include media-tablet {
        @include font($size: 0.8rem, $weight: 400, $height: 0.1rem);
    }
}