html {
    font-size: 10px;
}

body {
    @extend %font-prim;
}

h1 {
    @extend %font-add;
    @include font($size: 3.8rem, $weight: 400, $height: 4.8rem);
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

h2 {
    @include font($size: 3rem, $weight: 800, $height: 3.7rem);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-color-dark;
    >* {
        @extend %font-add;
        @include font($size: 3.6rem, $weight: 400, $height: 7.1rem);
        letter-spacing: 0.06em;
        @include media-tablet {
            @include font($size: 3.4rem, $weight: 400, $height: 4.3rem);
        }
        @include media-mobile {
            @include font($size: 3rem, $weight: 400, $height: 3.8rem);
        }
    }
    @include media-tablet {
        @include font($size: 2.2rem, $weight: 800, $height: 2.7rem);
    }
    @include media-mobile {
        @include font ($size: 1.8rem, $weight: 800, $height: 2.2rem);
    }
}