.button {
    @include font($size: 1.4rem, $weight: 600, $height: 1.8rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;

    padding: 12px 34px;
    border-radius: 10px;
    border: none;

    color: $text-color-dark;
    background: $color-primary;

    @extend %transition;
    &_header {
        @include media-mobile {
            display: none;
        }
    }
    
    &:hover {
        background: #0A8817;
        color: #000000;
    }
    &:active {
        background: #0A8817;
        color: $text-color-light;
    }
    &:disabled {
        background: #ABABAB;
        color: #000000;
    }
}

.button__transparent {
    @include font($size: 1.4rem, $weight: 600, $height: 1.8rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;

    padding: 12px 34px;
    border-radius: 10px;
    border: none;
    border: 2px solid #F8D24E;

    color: $text-color-dark;
    background: transparent;
    @extend %transition;
    
    &:hover {
        border: 2px solid #0A8817;
    }
    &:focus {
        border: 2px solid #0A8817;
        color: $text-color-light;
    }
    @include media-tablet {
        @include font($size: 0.8rem, $weight: 600, $height: 0.1rem);
        padding: 10px;
        border-radius: 8px;
    }
}

.button__address {
    @include font($size: 1.4rem, $weight: 600, $height: 1.8rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;

    padding: 12px 34px;
    border-radius: 10px;
    border: none;
    border: 2px solid #F8D24E;

    color: $text-color-dark;
    background: transparent;
    @extend %transition;
    
    &:hover {
        border: 2px solid #0A8817;
    }
    &:focus {
        border: 2px solid #0A8817;
        color: $text-color-light;
    }
}

.link-button {
    @include font($size:1.4rem, $weight: 600, $height: 1.7rem);
    color: $color-primary;
    @extend %transition;
    &:hover {
        color: #0A8817;
    }
    &:active {
        color: $text-color-light;
    }
    &:disabled {
        color: #ABABAB;
    }
    @include media-tablet {
        @include font($size: 0.8rem, $weight: 600, $height: 0.1rem);
    }
}