.logo__icon {
    @include media-tablet {
        width: 48px;
        height: 44px;
    }
    @include media-mobile {
        width: 40.47px;
        height: 37px;
    }
}

.welcome-arrow {
    display: inline-block;
    width: 51px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(/Assets/icons/arrow-icons/welcome-arrow.svg);
    @extend %transition;
    cursor: pointer;
    &:hover {
        background-image: url(../Assets/icons/arrow-icons/welcome-arrow-hover.svg);
    }
    &:focus {
        width: 52px;
        height: 24px;
        background-image: url(../Assets/icons/arrow-icons/welcome-arrow-focus.svg);
    }
}

.product__arrow {
    display: inline-block;
    width: 42px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../Assets/icons/arrow-icons/produts-arrow.svg);
    &:hover {
        width: 51px;
        background-image: url(../Assets/icons/arrow-icons/produts-arrow-hover.svg);
        @extend %transition;
    }
    &:focus {
        width: 51px;
        background-image: url(../Assets/icons/arrow-icons/produts-arrow-active.svg);
        @extend %transition;
    }
}

.resource__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: $color-primary;
}

.footer__icons {
    display: flex;
    gap: 30px;
}

.social-icon {
    display: inline-block;
    width: 35px;
    height: 35px;

    background-repeat: no-repeat;
    cursor: pointer;
    @extend %transition;
    &_git-hub {
        background-image: url(../Assets/icons/social-icons/github.svg);
        &:hover {
            background-image: url(../Assets/icons/social-icons/github-hover.svg);
        }
        &:active {
            width: 35px;
            height: 35px;
            background-image: url(../Assets/icons/social-icons/github-focus.svg);
        }
    }
    &_telegram {
        background-image: url(../Assets/icons/social-icons/telegram.svg);
        &:hover {
            background-image: url(../Assets/icons/social-icons/telegram-hover.svg);
        }
        &:active {
            width: 35px;
            height: 35px;
            background-image: url(/Assets/icons/social-icons/telegram-focus.svg);
        }
    }
    &_facebook {
        background-image: url(../Assets/icons/social-icons/facebook.svg);
        &:hover {
            background-image: url(../Assets/icons/social-icons/facebook-hover.svg);
        }
        &:active {
            width: 35px;
            height: 35px;
            background-image: url(../Assets/icons/social-icons/facebook-focus.svg);
        }
    }
}