.welcome-arrow {
    display: inline-block;
    width: 51px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(/Assets/icons/arrow-icons/welcome-arrow.svg);
    @extend %transition;
    cursor: pointer;
    &:hover {
        background-image: url(../Assets/icons/arrow-icons/welcome-arrow-hover.svg);
    }
    &:focus {
        width: 52px;
        height: 24px;
        background-image: url(../Assets/icons/arrow-icons/welcome-arrow-focus.svg);
    }
}

.product__arrow {
    display: inline-block;
    width: 42px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../Assets/icons/arrow-icons/produts-arrow.svg);
    &:hover {
        width: 51px;
        background-image: url(../Assets/icons/arrow-icons/produts-arrow-hover.svg);
        @extend %transition;
    }
    &:focus {
        width: 51px;
        background-image: url(../Assets/icons/arrow-icons/produts-arrow-active.svg);
        @extend %transition;
    }
}

.resource__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: $color-primary;
}